{% extends 'memories/base.html' %}

{% block title %}
    <p>Memories data</p>
{% endblock %}

{% block content %}
{% for data in backends.associated %}
    <div align="center">
        <h4>
            {{ data.extra_data.name }}
        </h4>
            <img src="{{data.extra_data.picture.data.url}}" alt="Profile picture" style="border-radius: 50%"
                 width="150" height="150">
    </div>
{% endfor %}

<div align="center">
    {% if user.place_set.count == 0 %}
        You don't have any memories <br>
    {% else %}
        {% for place in user.place_set.all %}
            <br>
            Name: {{ place.name }} <br>
            Coordinates: {{ place.point.latitude }}, {{ place.point.longitude }} <br>
            Comment: {{ place.comment }} <br>
            <br>
        {% endfor %}
    {% endif %}
</div>

<div align="center">
    <a href="{% url 'add' %}">Add a new memory</a>
</div>

<div align="center">
    <a href="{% url 'logout' %}">Logout</a>
</div>

{% endblock %}